{
  "sourceMaps": "inline",
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10.x"
        }
      }
    ]
  ],
  "plugins": ["source-map-support"],
  "env": {
    "production": {
      "sourceMaps": "both",
      "plugins": ["source-map-support"]
    }
  }
}
